.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color: rgb(119, 49, 119);
}
.navbar-light .navbar-nav .nav-link.active{
    color:rgb(59, 1, 59) ;
}
.navbar-light .navbar-nav .nav-link.active:hover{
    font-size: 1.1rem;
    color: rgb(148, 78, 148);
}

.nav-link{
    font-size: 1rem;
    font-weight: 700;
}
.d-flex{
    flex-grow: 7;
}
.form-control {
    width: 40%;
    border-radius: 30px;
}